<!DOCTYPE html>
<html>

<head>
  <title>mpce</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="meta">
  <link rel="stylesheet" href="/dist/style.css">
</head>

<body>
  <nav>
    <div>
      <a href="/">
        <div class="logo">mp,ce</div>
      </a>
      <a href="#">
        <img class="menu" src="/dist/menuIcon.png">
      </a>
    </div>
  </nav>

  <main>
    <form action="/createtest" method="post">
      <label for="testName">Name: </label>
      <input id="testName" name="testName" type="text" required>
      <input type="submit" value="Create Test">
    </form>
  </main>
</body>

</html>