<!DOCTYPE html>
<html>

<head>
  <title>mpce</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="meta">
  <link rel="stylesheet" href="/dist/style.css">
</head>

<body>
  <nav>
    <div>
      <a href="/">
        <div class="logo">mp,ce</div>
      </a>
      <a href="#">
        <img class="menu" src="/dist/menuIcon.png">
      </a>
    </div>
  </nav>

  <main>
    <h3 style="display: inline-block;" id="testName"></h3>

    <form action="/createitem" method="post">
      <label for="question">question </label>
      <textarea id="question" name="question" required></textarea>
      <br>

      <label for="optA">a </label>
      <input id="optA" name="optA" type="text" required>
      <br>
      <label for="optB">b </label>
      <input id="optB" name="optB" type="text" required>
      <br>
      <label for="optC">c </label>
      <input id="optC" name="optC" type="text" required>
      <br>
      <label for="optD">d </label>
      <input id="optD" name="optD" type="text" required>
      <br>

      <label for="answer">answer </label>
      <input id="answer" name="answer" type="text" maxlength="1" required>
      <br>

      <input type="submit" value="Create Item">
    </form>
  </main>

  <script src="https://code.jquery.com/jquery-2.2.1.min.js"
    integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      $.ajax({
        type: 'GET',
        url: '/api/tests',
        success: function (data) {
          for (let originalName of data) {
            name = JSON.parse(JSON.stringify(originalName))
            name = name.replace(/\s/g, "").toLowerCase()
            let arr = window.location.href.split('/')
            let otherName = arr[arr.length - 1]

            if (name === otherName) {
              $('#testName').text(originalName)
            }
          }
        }
      })

      $('#testName').on('click', function (event) {
        event.preventDefault()
        let arr = window.location.href.split('/')

        window.location.replace('/test/' + arr[arr.length - 1])
      })
    })
  </script>
</body>

</html>