<!DOCTYPE html>
<html>

<head>
  <title>mpce</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="meta">
  <link rel="stylesheet" href="/dist/style.css">
</head>

<body>
  <nav>
    <div>
      <a href="/">
        <div class="logo">mp,ce</div>
      </a>
      <a href="#">
        <img class="menu" src="/dist/menuIcon.png">
      </a>
    </div>
  </nav>

  <main>
    <div id="testsDisplay"></div>

    <a class="btn" href="/createtest">Create a test</a>

    <hr>

    <a href="mailto:alegremrvn@protonmail.com">give feedback / request a feature / etc</a>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
      integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function () {
        $.ajax({
          type: 'GET',
          url: '/api/tests',
          success: function (data) {
            let result = ''
            for (let i = 0; i < data.length; i++) {

              result += `<a href="/test/${
                data[i]
                  .replace(/\s/g, "")
                  .toLowerCase()
              }"><h3>${data[i]}</h3></a>`
            }

            $('#testsDisplay').html(result)
          }
        })
      })
    </script>
  </main>
</body>

</html>