<!DOCTYPE html>
<html>

<head>
  <title>mpce</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="meta">
  <link rel="stylesheet" href="/dist/style.css">
</head>

<body>
  <nav>
    <div>
      <a href="/">
        <div class="logo">mp,ce</div>
      </a>
      <a href="#">
        <img class="menu" src="/dist/menuIcon.png">
      </a>
    </div>
  </nav>

  <main>
    <h3 style="display: inline-block;" id="testName"></h3>

    <a id="createItem" style="display: inline-block;" class="btn">Create an item</a>

    <div id="itemsDisplay"></div>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
      integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function () {
        let arr = window.location.href.split('/')
        let testNameLc = arr[arr.length - 1]
        $('#createItem').attr('href', '/createitem/' + testNameLc)

        $.ajax({
          type: 'GET',
          url: '/api/items/' + testNameLc,
          success: function (data) {
            $('#testName').text(data.testName)

            let result = ''
            let itemNumber = 1
            for (let i = 0; i < data['items'].length; i++) {
              result += `<p>${data['items'][i].question}</p>`

              result += '<ol type="a">'
              for (let option of data['items'][i].options) {
                result += `<li>${option}</li>`
              }
              result += '</ol>'

              let answer
              switch (data['items'][i].answer) {
                case 0:
                  answer = 'a'
                  break
                case 1:
                  answer = 'b'
                  break
                case 2:
                  answer = 'c'
                  break
                case 3:
                  answer = 'd'
                  break
              }
              result += `<p>answer: ${answer}</p>`

              result += `<a class="btn" href="/updateitem/${testNameLc}/${itemNumber}">Update</a>`
              result += `<a class="btn" href="/deleteitem/${testNameLc}/${itemNumber}">Delete</a>`
              result += '<hr>'

              itemNumber++
            }
            result += '<p>end</p>'

            $('#itemsDisplay').html(result)
          }
        })
      })
    </script>
  </main>
</body>

</html>